%table.table.users-index
  %tr
    %th
      First Name
    %th
      Last Name
    %th
      Promocode
    %th
      Email Id
  - @users.each do |user|
    %tr
      %td.font16
        = user.first_name
      %td.font16
        = user.last_name
      %td.font16
        = user.promocode
      %td.font16
        = user.email
      / %td.font16
      /   = link_to "Edit", edit_user_path(current_user.id)

