%table.table.users-index
  %tr
    %th
      First Name :
    %td.font16
      = @user.first_name
  %tr
    %th
      Last Name :
    %td.font16
      = @user.last_name
  %tr
    %th
      PromoCode :
    %td.font16
      = @user.promocode
  %tr
    %th
      Email Id :
    %td.font16
      = @user.email
